@form_bg:#4fb0ec;
@form_border:#000000;
@form_action_bg:#000000;
@form_helper:#757575;
@good_msg_bg:#eeffee;
@good_msg_border:#008800;
@good_msg_text:#008800;
@bad_msg_bg:#ffeeee;
@bad_msg_border:#880000;
@bad_msg_text:#880000;
@remove_bg:#880000;
@remove_border:#660000;
@remove_text:#ffffff;