.fc-event-inner { padding:2px 0; }
.fc-event-inner .event-item { padding:0 5px; }
.fc-event-inner .heading { padding:2px 0; font-size:11px; }
.fc-event-inner .meta { padding:1px 0; font-size:10px; }
.fc-event-inner .img img { box-shadow:none; max-width:100%; height:auto; }
a.in-the-past { background-color:#7F929B; border-color:#7F929B; }
.loading-overlay-wrap { position:absolute; z-index:999999; }
.loading-overlay { background-color:white; opacity:0.6; filter:alpha(opacity=60); }
.loading-message { font-size:24px; color:#676767; }
.fc-event-inner img { height:auto; }

.fc-event { background-color:#577483; }
.fc-event, a.fc-event:link, a.fc-event:visited { color:#e8e8e8; }
a.fc-event:hover { color:#ffffff; }
.calendar .fc-event.status-hidden { background-color:rgba(87, 116, 131, 0.5); color:rgba(33, 78, 99, 1); border:1px dashed rgb(33, 78, 99); }
.calendar .fc-event.status-private { border:1px dashed rgb(255, 255, 255); font-style:italic; color:#c0c0c0; }
.calendar .fc-event.in-the-past { background-color:#cecece; color:#747474; border-color:#747474; }


.calendar-content-wrap { padding-left:1em; padding-right:1em; }

table.fc-header,
table.fc-header td,
table.fc-header th { border-width:0; }

table.fc-header select { margin-right:0.5em; font-size:14px; height:2.2em; line-height:2.2em; }
